@font-face {
  font-family: 'OneDay';
  src: url('public/font/oneDay/oneday-webfont.woff2') format('woff2'),
  url('public/font/oneDay/oneday-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
  font-family: 'OneDay';
}

html {

}