@import "./vars";

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: $color-gradient;
}

body::-webkit-scrollbar-thumb {
  background: transparent; /* opacity: 0; should do the thing either */
  box-shadow: 0 0 0 100vh black;
}