
  $color-dark: rgba(0, 0, 0, 0.84);
  $color-light: white;
  $color-primary: #865DFF;
  $color-secondary: #E384FF;
  $color-advanced: #FFA3FD;
  $color-gradient: linear-gradient(90deg, rgba(255, 0, 0) 0%, rgb(255, 0, 77) 100%);