$color-dark: black;
$color-light: white;
$color-primary: #A80038;
$color-secondary: #FD0054;
$color-advanced: #ff2f00;
$color-gradient: linear-gradient(90deg, rgba(255, 0, 0) 0%, rgb(255, 0, 77) 100%);