@import "src/app/styles/vars";

#about-us-block {
  width: 100%;

  background-color: $color-light;
}

#text-block {
  width: 100%;
  text-align: center;
  padding: 50px 100px;

  color: $color-dark;
  font-size: 7vh;
  font-weight: bold;
  text-shadow: $color-advanced 2px 2px 10px;
  box-sizing: border-box;
  word-spacing: 1rem;
}